.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dialog-title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .dialog-actions {
    justify-content: center;
  }
  