<footer class="footer">
    <div class="container bottom-component">
      <div class="row">
        <div class="col-md-4">
          <h5>École Nationale d'Ingénieurs de cartage</h5>
          <p>Rue des entrepreneurs Charguia2<br>
          Tunis,Tunisie</p>
        </div>
        <div class="col-md-4">
          <h5>Département</h5>
          <ul class="list-unstyled">
            <li>Département INFO</li>
            <li>Département GE</li>
            <li>Département GI</li>
            <li></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <p>enicarthage enicarthage.rnu.tn<br>
            TEL: (+216)71 941 579 / (+216)71 940 699</p>
        </div>
      </div>
    </div>
  </footer>
  
